body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(20, 20, 20);
    overflow: hidden;

    
}
@keyframes backgroundChange {
    0% {
        background-color: rgba(0, 0, 0, 0);
        transform: scale(5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3); 
        transform: scale(1); 

    }
}

.chatroom {
    height: 100vh;
    width: 100%;
    display: flex;
    color: white;
    background: radial-gradient(circle at center, #000000, #0000ff 30%, #800080 60%, #000000 90%);
    backdrop-filter: blur(5px);
    animation: none; 

}

.animate-theme {
    animation: backgroundChange 1.2s cubic-bezier(.28,1.12,1,1.2) forwards; 
    transition: color 0.5s ease;
}
.hidden {
    display: none !important;
}
/* Ustawienie pozycji chat po prawej stronie side menu */
.chat {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%; /* Adjust this value based on your layout */
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Dopasowanie side menu */
.side-menu {
    width: 30%;
    display: flex;
    flex-direction: column;
    
}

.konto {
    margin: 30px;
    background-color: rgba(0,0,0, 0.3);
    border: 2px solid white;
    border-radius: 20px;
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
}
a{
    all: unset;
}
.konto:hover{
    color: red;
}

.side{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    overflow: hidden;
}
.side .title {
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    font-weight: 800;
    margin: 0px 10vw;
    width: 80vw;
}

#left-side{
    background-color: rgb(3, 7, 18);
    width: 60%;
    z-index: 2;
}
#left-side .title {  
    color: white;  
  }
#right-side{
    background-color: rgb(98, 0, 234);
}
#right-side .title {
    color: rgb(20, 20, 20);
}
#chat-messages {
    position: static; /* Ensure relative positioning */
    font-size: x-large;
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #888 #333;
    scrollbar-width: thin;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    margin-bottom: 5px;
    justify-content: center ;
    width: 50rem;
}

#textarea {
    width: 50vh;
    height: 4vh;
    color: white;
    background-color: rgba(0,0,0, 0.3);
    border: 1px solid rgba(0,0,0, 0.3);
    border-radius: 15px;
}
#textarea:focus{
    outline: rgb(73, 72, 72);
}

#reset-button{
    margin-bottom: -10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#send{
    cursor: pointer;
    background-color: rgba(0,0,0, 0.3);
    border: 1px solid rgb(20, 20, 20);
    color: white;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}
#send:hover{
    background-color: rgba(86, 5, 161, 0.863);
    transition: background-color 0.3s ;
}

.popup{
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.3);
    border: 1px solid rgb(20, 20, 20);
    position: fixed;
    z-index: 100;
    padding: 10px;
    color: white;
}

.popup-wybor{
    display: flex;
    justify-content: space-around;
    
}
.blur {
    filter: blur(5px);
  }
#theme{
    right: 0%;
    position: fixed;
    cursor:pointer;
    z-index: 9999;
}
#chatmessages::-webkit-scrollbar {
    width: 12px;
  }
  
  #chatmessages::-webkit-scrollbar-track {
    background: #333;
  }
  
  #chatmessages::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 3px solid #333;
  }
.message{
    background-color: rgba(0,0,0, 0.3);
    border: 1.5px solid white;
    word-wrap: break-word;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    
}
#MessageMenu {
    background-color: rgb(71, 71, 71);
    border: 1px solid rgb(20, 20, 20);
    border-radius: 10px;
    position: absolute; 
    right: 0;
    top: 30px;
    width: 200px;
    z-index: 9999;
    padding: 10px;
    display: none;
    color: white;
    text-align: left;
    padding: 5px;
}
#DeleteMessageButton{
    cursor: pointer;
}
#Chat-selector{
        position: absolute;
        right: 0;
        top: 0;
        width: 70%; /* Adjust this value based on your layout */
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
}
#ChatCreateButton{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    background-color: rgba(0,0,0, 0.3);
    border: 1px solid rgb(20, 20, 20);
    color: white;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-container label {
    margin-right: 25px;
    width: 100px;
    text-align: right;
}
#Chats{
    overflow-y: scroll;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#Chats::-webkit-scrollbar {
    width: 12px;
  }
  
  #Chats::-webkit-scrollbar-track {
    background: #333;
  }
  
  #Chats::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 3px solid #333;
  }
.ChatElements{
    margin: 30px;
    background-color: rgba(0,0,0, 0.3);
    border: 2px solid white;
    border-radius: 20px;
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
}
#GoBack{
    margin: 30px;
    background-color: rgba(0,0,0, 0.3);
    border: 2px solid white;
    border-radius: 20px;
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100%;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
}