body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: radial-gradient(circle at center, #000000, #0000ff 30%, #800080 60%, #000000 90%);
    backdrop-filter: blur(5px);
    overflow: hidden;
    font-size: x-large;
    margin: 0;
}

@keyframes backgroundChange {
    0% {
        background-color: rgba(0, 0, 0, 0);
        transform: scale(5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3);
        transform: scale(1);
    }
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-container label {
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.input-container input {
    flex: 1;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 50vh; /* Set a fixed width */
    height: fit-content;
    max-width: 100%;
}


#RegisterContent, #LoginContent {
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 100%;
}
#RegisterButton, #loginButton {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid;
    font-size: 15px;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1;
    border-radius: 15px;
    padding: 10px;  

    cursor: pointer;
    text-align: right;
    color: white;
}
.buttonLine{
    width: 100%;
    text-align: right;
}
.SwapText {
    text-align: right;
    font-size: medium;
}

.SwapButton {
    color: gray;
    cursor: pointer;
}

#theme {
    right: 0;
    top: 1%;
    position: fixed;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.animate-theme {
    animation: backgroundChange 1.2s cubic-bezier(.28, 1.12, 1, 1.2) forwards;
    transition: color 0.5s ease;
}
